.pricingScreen {
    width: 100%;
    padding: 200px 114px 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    @media (max-width: 1024px) {
       gap: 40px;
       padding: 200px 20px 60px;
    }
    @media (max-width: 640px) {
       gap: 40px;
    }
}

.pricingScreen__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;

    @media (max-width: 640px) {
        gap: 12px;
    }
}

.pricingScreen__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricingScreen__title {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 75px;
    line-height: 110%;
    filter: drop-shadow(0 -2px 3px rgba(180, 180, 180, .9));
    background-image: linear-gradient(180deg, #FFFFFF 30%, #B4B4B4 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @media (max-width: 1024px) {
        font-size: 58px;
    }
    @media (max-width: 640px) {
        font-size: 40px;
        filter: drop-shadow(0 -1px 2px rgba(180, 180, 180, .9));
    }
}

.pricingScreen__titleAdd {
    font-weight: 600;
    font-size: 75px;
    line-height: 110%;
    filter: drop-shadow(0 -2px 3px rgba(13, 190, 255, .8));
    background-image: linear-gradient(180deg, #0DBEFF 30%, #0D6FFF 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: -20px;
    @media (max-width: 1024px) {
        font-size: 58px;
        margin-top: -15px;
    }
    @media (max-width: 640px) {
        font-size: 40px;
        margin-top: -10px;
        filter: drop-shadow(0 -1px 2px rgba(13, 190, 255, .8));
    }
}

.pricingScreen__title span {
    color: var(--color-primary-blue);
}

.pricingScreen__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    @media (max-width: 1024px) {
        font-size: 17px;
    }
    @media (max-width: 640px) {
        font-size: 14px;
    }
}

.pricingScreen__subtitle span {
    font-size: 20px;
}

.pricingScreen__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 180px;
    gap: 20px;
    width: 100%;
    list-style: none;
    list-style-type: none;

    @media (max-width: 1024px) {
        gap: 15px;
    }
    @media (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 135px;
        grid-auto-rows: 135px;
        max-width: 65%;
    }

    @media (max-width: 700px) {
        max-width: 80%;
    }
    @media (max-width: 600px) {
        max-width: 100%;
    }
}

.pricingScreen__cardWrapper {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(15px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 1px solid #FFFFFF33;
    border-radius: 22px;

    @media (max-width: 850px) {
        padding: 15px;
        border-radius: 16px;
    }
}

.pricingScreen__cardWrapper img {
    @media (max-width: 850px) {
        width: 30px;
        height: 30px;
    }
}

.pricingScreen__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 22px;
    position: relative;
    backdrop-filter: blur(15.5px);
    position: relative;
    overflow: hidden;
    transition: transform 0.15s ease-in-out;
}

.pricingScreen__card:hover {
    transform: translateY(-5px);
}

.pricingScreen__card:nth-of-type(odd) {
    box-shadow: 0px 0px 20px 0px #7AB0FF66 inset;
}

.pricingScreen__card:nth-of-type(even) {
    box-shadow: 0px 0px 20px 0px #E670E066 inset;
}

.pricingScreen__card:nth-child(3) {
    @media (max-width: 850px) {
        grid-row: 2 / 3;
        grid-column: 2 / 3
    }
}
.pricingScreen__card:nth-child(4) {
    @media (max-width: 850px) {
        grid-row: 2 / 3;
        grid-column: 1 / 2
    }
}

.pricingScreen__cardGlare {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: radial-gradient(at center, #FFFFFF 0%, #0067FF 68.45%, #010101 136.89%);
    filter: blur(10px);
    z-index: -1;
}
.pricingScreen__cardGlare_small {
    width: 24px;
    height: 24px;
    background-color: #FFE6FE;
    position: absolute;
    left: -8px;
    top: -8px;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.6;
}
.pricingScreen__cardGlare_red {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: radial-gradient(at center, #FFFFFF 0%, #E670E0 68.45%, #010101 136.89%);
    filter: blur(10px);
    z-index: -1;
}

.pricingScreen__cardShadow_whiteBlue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 22px;
    background-image: linear-gradient(to top, #CEF2FF 0%, transparent 25%);
}
.pricingScreen__cardShadow_lblue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #2DC7FF 0%, transparent 20%);
}
.pricingScreen__cardShadow_blue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #0067FF 0%, transparent 20%);
}
.pricingScreen__cardShadow_dblue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #002A62 0%, transparent 40%);
}

.pricingScreen__cardShadow_whiteRed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 22px;
    background-image: linear-gradient(to top, #FFE6FE 0%, transparent 25%);
}
.pricingScreen__cardShadow_lred {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #E670E0 0%, transparent 20%);
}
.pricingScreen__cardShadow_red {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #AA38A5 0%, transparent 20%);
}
.pricingScreen__cardShadow_dred {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    height: 100%;
    border-radius: 22px;
    filter: blur(10px);
    background-image: linear-gradient(to top, #AA38A5 0%, transparent 40%);
}

.pricingScreen__cardLabel {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    @media (max-width: 1024px) {
        font-size: 17px;
    }
    @media (max-width: 640px) {
        font-size: 14px;
    }
}

.pricingScreen__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media (max-width: 640px) {
        gap: 16px;
    }
}

.pricingScreen__note {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary-gray);
    text-align: center;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
    @media (max-width: 640px) {
        font-size: 10px;
    }
}