@import url('./vendors/normalize.css');
@import url('./vendors/fonts.css');
@import url('./blocks/header/header.css');
@import url('./blocks/hero/hero.css');
@import url('./blocks/videoScreen/videoScreen.css');
@import url('./blocks/invisibleScreen/invisibleScreen.css');
@import url('./blocks/featuresScreen/featuresScreen.css');
@import url('./blocks/pricingScreen/pricingScreen.css');
@import url('./blocks/supportScreen/supportScreen.css');
@import url('./blocks/faqScreen/faqScreen.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/purchaseButton/purchaseButton.css');
@import url('./blocks/teleprompterDemo/teleprompterDemo.css');
@import url('./blocks/logo/logo.css');

:root {
  --color-primary-white: #F7F7F7;
  --color-secondary-white: #D1D1D1;
  --color-tertiary-white: #FFFFFF;
  --color-primary-gray: #7C7C7C;
  --color-primary-black: #000000;
  --color-secondary-black: #121212;
  --color-primary-blue: #0D6FFF;
  --color-primary-pink: #F03CCE;
  --color-pink-60: #F363D8;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  font-family: 'SF Pro Display', 'Arial', sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  position: relative;
}

/* --- RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 3px solid var(--color-outline);
  outline-offset: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

main,
body {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body > div {
  overflow-x: hidden;
}

.mainWrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footerVideo {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: auto;
  z-index: 0;
  object-fit: fill;
  max-height: 600px;
}